{% extends 'layout/private.html.twig' %}

{% set activeMenu = 'home' %}

{% block title %}{{ 'menu.account'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'menu.account'|trans }}</h1>
        <div class="row">
            <div class="col">
                <h2>{{ 'account.infos'|trans }}</h2>
                Informations
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ 'entity.user.field.password'|trans }}</h2>
                <a class="btn btn-primary" href="{{ path('reset_password') }}">{{ 'entity.user.action.reset_password'|trans }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ 'account.otp_activation'|trans }}</h2>
                {% if user.twoFactorSecret is null %}
                    <a class="btn btn-primary" href="{{ path('two_factor.enable') }}">{{ 'security.otp.enable'|trans }}</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('two_factor.disable') }}">{{ 'security.otp.disable'|trans }}</a>
                    <a class="btn btn-primary" href="{{ path('two_factor.enable') }}">{{ 'security.otp.reset'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ 'account.session_status'|trans }}</h2>
                <p id="session-status"></p>
            </div>
        </div>
    </div>
{% endblock %}
